:root {
  --tile-spacing: 2px;
}

.tile-group {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.tile-group > * {
  margin: var(--tile-spacing);
  width: calc(20% - var(--tile-spacing) * 2);
  height: 0;
  padding-bottom: calc(20% - var(--tile-spacing) * 2);
}
