.filter-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.filter-bar > *:not(:last-child) {
  margin-right: 15px;
}

.filter-bar .sort-type {
  display: flex;
  align-items: center;
  width: 75px;
}
